/*
 |--------------------------------------------------------------------------
 | Contents
 |--------------------------------------------------------------------------
 |
 | 1.Root Variables
 | 2.Material Design Icons
 | 3.Helpers
 | 4.Layouts
 | 5.Navbar
 | 6.Sidebar
 | 7.Progressbar
 | 8.Default bootstrap classes
 |
 */
/* 1.Root Variables */
:root {
    --body-bg: #e2e3ea;
    --white: #37404a;
    --medium-grey: #d6d6d6;;
    --medium-white: #f9f9f9;
    --medium-red: #f63334;
    --light-grey: #5c6070;
    --medium-skyblue: #2f90ca;
    --border-light: #e6e6e6;
    --font-family: 'Fira Sans', sans-serif;
}

/* 2.Material Design Icons
   ========================================================================== */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/md-icons/MaterialIcons-Regular.eot?e79bfd88537def476913f3ed52f4f4b3);
    /* For IE6-8 */
    src: local("Material Icons"),
        local("MaterialIcons-Regular"),
        url(/fonts/md-icons/MaterialIcons-Regular.woff2?570eb83859dc23dd0eec423a49e147fe) format("woff2"),
        url(/fonts/md-icons/MaterialIcons-Regular.woff?012cf6a10129e2275d79d6adac7f3b02) format("woff"),
        url(/fonts/md-icons/MaterialIcons-Regular.ttf?a37b0c01c0baf1888ca812cc0508f6e2) format("truetype");
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    vertical-align: middle;
}

/* Helper class
==============================================================*/
.height-26 {
    height: 26px;
}

.height-75 {
    height: 75px;
}

.cursor-pointer {
    cursor: pointer;
}

.todayprice {
  font-size: 65px;
  color : #ff8100;
}

/* 5.Navbar
   ======================================================================================================================================= */
header .sq1dashboard-navbar {
    background-color: var(--medium-white) !important;
    border-bottom: 1px #dcdcdc solid;
    height: 61px;
}

header .sq1dashboard-navbar .navbar-brand {
    padding-right: 18px;
}

header .sq1dashboard-navbar .logoutMenu {
    /* margin: .125rem -86px 0; */
    margin: 0.7em -85px 0;
    background: var(--medium-white);
    width: 176px;
}

header .dropdown-item {
    color: var(--grey-text);
}

header .sq1dashboard-navbar .navbar-nav .nav-item {
    padding-top: 0px;
    padding-right: 24px;
    line-height: 18px;
    color: var(--grey-lighten);
    position: relative;
}

/* header .sq1dashboard-navbar .navbar-nav .nav-item span {
       position: absolute;
       top: -12px;
       right: 14px;
       background: var(--text-red);
       color: var(--medium-white);
       font-size: 0.8em;
       color: white;
       border-radius: 50%;
       line-height: 10px;
       font-weight: var(--bold);
   } */
header .sq1dashboard-navbar .navbar-nav .nav-item .nav-link i {
    font-size: 22px;
}

header .sq1dashboard-navbar .navbar-nav .active>.nav-link {
    background: var(--medium-red);
    color: var(--medium-white) !important;
    border-radius: 4px;
}

header .sq1dashboard-navbar .navbar-nav .nav-item:hover .nav-link {
    color: var(--medium-red);
}

header .sq1dashboard-navbar .navbar-nav .nav-link.disabled {
    cursor: context-menu;
}

/* header .sq1dashboard-navbar .navbar-nav img {
       margin-top: 3px;
   } */
header .sq1dashboard-navbar .client_logo {
    /* height: 30px; */
    width: 150px;
}

/* Layout
 ========================================*/
body {
    background: var(--body-bg);
    color: var(--light-grey);
    /* font-family: var(--font-family); */
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
}

h5, h6 {
    width: 115px;
}

.align-height h6:nth-child(2) {
    font-size: 23px;
}

a, a:hover, a:active, a:focus {
    color: var(--light-grey);
    text-decoration: none;
}

hr {
    border-top: 1px solid #888;
}

main {
  margin-left: 167px;
  padding: 8px;
  margin-top: 70px;
}

aside {
    background: var(--medium-white);
    position: fixed;
    width: 165px;
    /* height: 100%; */
    overflow-x: hidden;
    flex-direction: column;
    top: 61px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0.27), 0 1px 5px 0 rgba(0, 0, 0, 0);
    bottom: 0px;
}

aside .nav-link {
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .00714em;
    text-decoration: inherit;
    text-transform: inherit;
    margin: 5px;
}

aside .nav-link:hover {
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .00714em;
    text-decoration: inherit;
    text-transform: inherit;
    margin: 5px;
    color: var(--white);
    background-color: var(--medium-grey);
}

aside .sub-link {
    padding: 9px;
    font-size: 15px;
    text-decoration: none;
    border-radius: .25rem;
}

aside .sub-link:hover {
    padding: 9px;
    border-radius: .25rem;
    text-decoration: inherit;
    text-transform: inherit;
    color: var(--white);
    background-color: var(--light-blue);
}
.custom-active {
  background: #00b3bb;
  color: #fff;
}

aside .sub-link:hover a {
    text-decoration: none;
    color: var(--white);
}

aside ul li i {
    margin-right: 0px!important;

    font-size: 22px !important;
}

aside ul li a {
    color: rgb(103, 102, 102);
}

aside ul li a:hover {
    color: rgb(103, 102, 102);
}

aside ul li #menu3 {
    margin-left: 25px;
}

aside .list-group {
    margin-top: 8px;
}

aside .list-group-item {
    border: none;
    color: var(--light-grey);
    padding: 20px;
}

aside .list-group-item>i {
    margin-right: 10px;
}

.card-header {
  font-size: 20px;
}
.col-form-label {
  font-size: 16px;
}
.nav-pills .nav-link {
  font-size: 16px;
}
